<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75154356720-1cma0f0j4lnrjundl0qv2dsf9839afui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75154356720-1cma0f0j4lnrjundl0qv2dsf9839afui</string>
	<key>API_KEY</key>
	<string>AIzaSyDEZiHBM3wPjjZ_3If_L10oLFJ3d_SC2BI</string>
	<key>GCM_SENDER_ID</key>
	<string>75154356720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-7fef8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-7fef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75154356720:ios:9bbd15b0af349a76bfc535</string>
</dict>
</plist>